{% extends 'content/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ title }}</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="author-list">
                    {% for object in object_list %}
                        <div class="card mb-3">
                        <div class="card-header">
                            <img src="{{ object.user.avatar|mymedia }}" class="card-img-top" alt="...">
                        </div>
                            <div class="card-body">
                                <h2 class="card-title">{{ author.user.full_name }}</h2>
                                <p class="card-text"><strong>Exists since:</strong> {{ author.exists_since }}</p>
                                <p class="card-text"><strong>Article Count:</strong> {{ author.article_count }}</p>
                                <a href="{% url 'content:author_detail' author.pk %}" class="btn btn-info">View Author</a>
                            </div>
                        </div>
                    {% empty %}
                        <p>No authors found.</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <a href="{% url 'content:author_list' %}" class="btn btn-secondary btn-block mt-3">Back to Author List</a>
            </div>
        </div>
    </div>
{% endblock %}