{% extends 'content/base.html' %}
{% load my_tags %}

{% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <p class="lead text-body-secondary">
                    Here you can see all paid content of our authors.
                    {% if user.is_author %}
                        <p>Also you can
                            <a type="button" class="btn btn-link"
                               href="{% url 'content:content_create' %}">create your content</a>
                        </p>
                    {% endif %}
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for object in object_list %}
                    {% if object.is_active %}
                        <div class="col">
                            <div class="card shadow-sm" style="width: 18rem;">
                                <img src="{{ object.image|mymedia }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text">{{ object|title }}</p>
                                    <p class="card-text">Views: {{ object.views_count }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a type="button" class="btn btn-sm btn-outline-secondary"
                                               href="{% url 'content:content_detail' object.pk %}">See more</a>
                                            <a type="button" class="btn btn-sm btn-outline-secondary"
                                               href="{% url 'content:home' %}">Back to home page</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% empty %}
                    <p>No content found.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ object_list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>

            {% if object_list.has_next %}
                <a href="?page={{ object_list.next_page_number }}">next</a>
                <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
