{% extends 'content/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">{{ object.title }}</h1>
                        <div class="row">
                            {% if object.image %}
                                <div class="col-md-6">
                                    <img src="{{ object.image|mymedia }}" class="img-fluid rounded" alt="...">
                                </div>
                            {% endif %}
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>Slug:</strong> {{ object.slug }}</li>
                                    {% if object.category %}
                                        <li class="list-group-item"><strong>Category:</strong> {{ object.category }}</li>
                                    {% endif %}
                                    {% if object.video_url %}
                                        <li class="list-group-item">
                                            <video controls class="img-fluid">
                                                <source src="{{ object.video_url }}" type="video/mp4">
                                                Your browser does not support the video tag.
                                            </video>
                                        </li>
                                    {% endif %}
                                    <li class="list-group-item"><strong>Content:</strong> {{ object.content }}</li>
                                    <li class="list-group-item"><strong>Author:</strong> {{ object.author.nickname }}</li>
                                    <li class="list-group-item"><strong>Views:</strong> {{ object.views_count }}</li>
                                    <li class="list-group-item"><strong>Publication date:</strong> {{ object.created_at }}</li>
                                    {% if object.modified_at %}
                                        <li class="list-group-item"><strong>Last update:</strong> {{ object.modified_at }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-center gap-3">
                        <a href="{% url 'content:home' %}" class="btn btn-primary">To home</a>
                        <a href="{% url 'content:author_detail' object.author.pk %}" class="btn btn-info">Author</a>
                        <a href="{% url 'content:report_create' object.pk %}" class="btn btn-danger">Report</a>
                        {% if object.author.user == request.user or user.is_superuser or user.is_staff %}
                            <a href="{% url 'content:content_update' object.pk %}" class="btn btn-warning">Edit</a>
                            <a href="{% url 'content:content_delete' object.pk %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



