{% extends 'content/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for object in object_list %}
                {% if object.is_active %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{ object.image|mymedia }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ object.title }}</h5>
                                <p class="card-text">{{ object.content|truncatechars:100 }}</p>
                                <a href="{% url 'content:content_detail' object.pk %}" class="btn btn-primary">See more</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}