{% extends 'content/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title">The report was successfully created!</h1>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'content:home' %}" class="btn btn-primary btn-block">Go to home page and see more!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
