{% extends 'content/base.html' %}

{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container col-3">
            <div class="row">
                <div class="col-auto">
                    <div class="card">
                        <div class="card-header">Delete report</div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <p>Are you sure you want to delete report "{{ object.user.full_name }}"?</p>
                                <button type="submit" class="btn btn-danger">Confirm</button>
                                <a href="#" onclick="history.back()" class="btn btn-success">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
