{% extends 'content/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1 class="mb-0">Reports</h1>
        </div>
        <div class="card-body">
            {% for object in object_list %}
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">Report from: {{ report.user.full_name }}</p>D
                    <p class="card-text">Created at: {{ report.created_at }}</p>D
                    <p class="card-text">Title: {{ report.title }}</p>D
                    <p class="card-text">Comment: {{ report.comment }}</p>
                    {% if report.screenshots %}
                        <div class="mt-3">
                            <h5 class="card-title">Screenshots:</h5>
                            {% for screenshot in report.screenshots.all %}
                                <img src="{{ screenshot.url }}" alt="Screenshot" class="img-fluid">
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <p class="text-muted">No reports found.</p>
            {% endfor %}
        </div>
        <div class="card-footer">
            <a href="#" onclick="history.back()" class="btn btn-secondary">Back</a>
        </div>
    </div>
</div>
{% endblock %}