{% extends 'content/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h3 class="card-title">Edit Profile</h3>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a href="{% url 'content:home' %}" class="btn btn-secondary">Cancel</a>
                            {% if user.is_subscribed %}
                                <a href="{% url 'users:cancel_subscription' object.pk %}" class="btn btn-warning">Stop subscription</a>
                            {% else %}
                                <a href="{% url 'users:subscription' %}" class="btn btn-warning">Subscribe</a>
                            {% endif %}
                            {% if not user.is_author %}
                                <button type="submit" formaction="{% url 'content:become_author' %}" class="btn btn-warning">Become an author</button>
                            {% endif %}
                            {% if not user.is_superuser and not user.is_staff %}
                                <a href="{% url 'users:are_you_sure' %}" class="btn btn-danger">Delete account</a>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}