{% extends 'content/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title mb-4">Changes saved successfully!</h1>
                    <div class="d-grid gap-2">
                        <a href="{% url 'content:home' %}" class="btn btn-secondary btn-lg">To home page</a>
                        <button onclick="history.back()" class="btn btn-secondary btn-lg">Back to edition</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}