<div class="col-sm-4 offset-md-1 py-4">
    <h4>Main Menu</h4>
    <ul class="list-unstyled">
        <li><button onclick="window.location.href='{% url 'content:content_list' %}'" class="btn btn-link text-white">All content</button></li>
        <li><button onclick="window.location.href='{% url 'content:content_paid_list' %}'" class="btn btn-link text-white">Paid content</button></li>
        <li><button onclick="window.location.href='{% url 'content:content_free_list' %}'" class="btn btn-link text-white">Free content</button></li>
        <li><button onclick="window.location.href='{% url 'content:author_list' %}'" class="btn btn-link text-white">Authors</button></li>
        <li><button onclick="window.location.href='{% url 'content:home' %}'" class="btn btn-link text-white">Home page</button></li>
        {% if not user.is_authenticated %}
            <li><button onclick="window.location.href='{% url 'users:register' %}'" class="btn btn-link text-capitalize">Registration</button></li>
            <li><button onclick="window.location.href='{% url 'users:login' %}'" class="btn btn-link text-success">Login</button></li>
        {% endif %}
        {% if user.is_authenticated and not user.is_subscribed %}
            <li><button onclick="window.location.href='{% url 'users:subscription' %}'" class="btn btn-link text-success">Subscribe to see more!</button></li>
        {% endif %}
        <li><button onclick="window.location.href='{% url 'content:contacts_info' %}'" class="btn btn-link text-warning">Our contacts</button></li>
    </ul>
</div>