<div class="col-sm-4 offset-md-1 py-4">
    <h4>Main Menu</h4>
    <ul class="list-unstyled">
        <li><a href="{% url 'content:content_list' %}" class="text-white">All content</a></li>
        <li><a href="{% url 'content:content_paid_list' %}" class="text-white">Paid content</a></li>
        <li><a href="{% url 'content:content_free_list' %}" class="text-white">Free content</a></li>
        <li><a href="{% url 'content:author_list' %}" class="text-white">Authors</a></li>
        <li><a href="{% url 'content:home' %}" class="text-white">Home page</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'users:profile' %}" class="text-white">Profile</a></li>
            <form method="post" action="{% url 'users:logout' %}">
                {% csrf_token %}
                <div class="d-inline">
                    <button class="btn btn-link text-danger" type="submit">Logout</button>
                </div>
            </form>
        {% else %}
            <li><a href="{% url 'users:register' %}" class="text-white">Registration</a></li>
            <li><a href="{% url 'users:login' %}" class="text-success">Login</a></li>
        {% endif %}
        {% if user.is_authenticated and not user.is_subscribed %}
            <li><a href="{% url 'users:subscription' %}" class="text-success">Subscribe to see more!</a></li>
        {% endif %}
        <li><a href="{% url 'content:contacts_info' %}" class="text-warning">Our contacts</a></li>
    </ul>
</div>